@model Turnos.Models.paciente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/estilos.css">
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="Titulo">Editar Paciente</div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idPaciente)

            <div class="form-group row ">
                <div class="col-12 col-md-6 mb-3">
                    <label>Nombre*</label>
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label>Apellido*</label>
                    @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-md-6 mb-3">
                    <label>DNI*</label>
                    @Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dni, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label>Teléfono</label>
                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-md-6 mb-3">
                    <label>Mail*</label>
                    @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label>Obra Social*</label>
                    @Html.DropDownList("idObraSocial", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idObraSocial, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-md-3 mb-3">
                    <label>Sexo*</label>
                    @*@Html.EditorFor(model =>model.Gender)*@
                    @Html.RadioButtonFor(model => model.sexo, "Hombre", true) Hombre
                    @Html.RadioButtonFor(model => model.sexo, "Mujer", false) Mujer
                    @Html.ValidationMessageFor(model => model.sexo)<br />
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <div class="col-12 text-center">
                    <input type="submit" value="Guardar cambios" class="btn btn-primary" />
                </div>
            </div>

        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
