@model IEnumerable<Turnos.Models.paciente>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/estilos.css">
</head>
<body>
    <div class="Titulo mb-2">Pacientes</div>

    <p class="ml-4">
        @Html.ActionLink("Alta de nuevo paciente", "Create")
    </p>
    <table class="table text-center">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                DNI
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Email
            </th>
            <th>
                Obra Social
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.obraSocial.nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idPaciente }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idPaciente }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idPaciente })
                </td>
            </tr>
        }

    </table>

    <div>
        @Html.ActionLink("Volver al Menú Principal", "MenuPrincipal")
    </div>

</body>
</html>
