@model Turnos.Models.profesional

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>profesional</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apellido)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apellido)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dni)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dni)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.matricula)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.matricula)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idProfesional }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
